
			body{
				
				color: #717171;
			}
			.icon {
			       width: 1em; height: 1em;
			       vertical-align: -0.15em;
			       fill: currentColor;
			       overflow: hidden;
			    }
			.center {
					width: 445px;
					margin: 0 auto;
					margin-top: 100px;
			}
			.login_form{
				list-style-type: none;
				padding:0px;
				
			}
			.login_form li{
				display: inline-block;
				
			}
			li:hover{
				color: #00a7de;
			}
			.active{
				color: #00a7de;
			}
			#name,#password,#submit{
				display: block;
				margin: 20px 0;
				width: 430px;
				height: 36px;
				border: 1px solid #cad2db;
				padding: 0 5px;
				border-radius: 5px;
				font-size: 14px;
				color: #717171;
				
			}
			#remember{
				display: inline;
				font-size: 10px;
			}
			#submit{
				display: inline;
				margin: 20px 0;
				width: 150px;
				height: 36px;
				border: 1px solid #cad2db;
				padding: 0 5px;
				border-radius: 5px;
				font-size: 14px;
				color: #717171;
				float: left;
				background-color: #00a7de;
				color: white;
			}
		
			#login{
				display: inline;
				margin: 20px 0;
				width: 150px;
				height: 36px;
				border: 1px solid #cad2db;
				padding: 0 5px;
				border-radius: 5px;
				font-size: 14px;
				color: #717171;
				float: right;
				background-color: white;
			}
			form::after{
				content: "";
				display: block;
				clear: both;
			}
				a{
				text-decoration: none;
				text-align: center;
				color: #00a7de;
				float: right;
			}
			.qq a,.weibo a{
				text-decoration: none;
				color: #717171;
				margin-left: 5px;
			}
			a:hover{
				color: #00A7DE;
			}
			#submit:hover{
				background-color: deepskyblue;
			}
			#login:hover{
				background-color: lightgrey;
				color: white;
			}
		